/***************** constants ************************/
/***************** index - Main content ************************/
body {
  background-color: #A8CCC1;
  color: white;
  margin: 0;
  font-family: "Arial", sans-serif;
  /**************** Header *************************/
  /******************* Navigation **********************/
  /****************** Calender ***********************/
  /********************* List ********************/ }
  body .container {
    background-color: white;
    color: black;
    padding: 20px; }
    body .container .eventDark {
      background-color: #3b4744;
      padding: 30px;
      color: white; }
    body .container .eventLight {
      background-color: #697F79;
      padding: 30px;
      color: white; }
  body .header {
    background-color: #68a693;
    color: white;
    padding: 10px; }
    body .header h1, body .header h2, body .header h3 {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px; }
  body .nav a {
    color: #3b4744; }
  body .nav a:hover {
    color: #697F79; }
  body .cal {
    background-color: #c8dfd8;
    padding: 15px;
    border: 1px solid #e2eeea; }
  body .scrollToTopBtn {
    /*text-align: center;*/
    /*position: relative;*/
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    color: black; }
