<!-- this component fetch info to be displayed in list and calender -->

<!-- Versjon 3 bootstrap-klasser
<nav aria-label="..." role="navigation">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
      <li class="disabled"><a href="#">This week</a></li>
    <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
-->

<nav aria-label="..." role="navigation">
    <ul class="nav d-flex justify-content-between">
      <li class="nav-item">
        <a class="nav-link hidden-sm-down" id="prevBtn" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous</a>
        <a class="nav-link hidden-md-up" id="prevBtn" href="#"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
      </li>
    <li class="nav-item">
        <a class="nav-link active" id="thisWeekBtn" href="#">This week</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hidden-sm-down" id="nextBtn" href="#">Next  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a class="nav-link hidden-md-up" id="nextBtn" href="#"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
</nav>

<section id="infoTest"></section>
