

/***************** constants ************************/

$basecolor: #A8CCC1;
$eventcolor: #697F79;


/***************** index - Main content ************************/
body {
    background-color: $basecolor;
    color: white;
    margin: 0;
    font-family: "Arial", sans-serif;

    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        color: black;
        padding: 50px;

        .eventDark {
            background-color: darken($eventcolor, 20%);
            padding: 30px;
            color: white;
        }

        .eventLight {
            background-color: $eventcolor;
            padding: 30px;
            color: white;
        }
    }


/**************** Header *************************/
    .header {
        background-color: darken($basecolor, 20%);
        color: white;
        padding: 10px;

        h1 {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;
        }
    }
/******************* Navigation **********************/



/****************** Calender ***********************/

    .cal {
        background-color: lighten($basecolor, 10%);
        height: 150px;
        padding: 15px;
        border: 1px solid lighten($basecolor, 18%);
    }
/********************* List ********************/








}//End body
