<!-- this component shows the info in the calender with flexbox boostrap v4-alpha -->

<!-- TABLE VISIBLE ONLY ON LARGE SCREENS -->
<div class="cal-desktop">
    <h2>Desktop calendar</h2>
<table class="table">
    <!--
    <thead class="thead-default">
        <tr>
            <th>Time</th>
            <th>Track 1</th>
            <th>Track 2</th>
            <th>Track 3</th>
            <th>Track 4</th>
            <th>Track 5</th>
        </tr>
    </thead>
    -->
    <tbody>
        <tr>
            <th>1300-
                <br>1345
            </th>
            <td>
                <strong>React/Redux</strong>
                (track 1)
            </td>
            <td>
                <strong>Team Tools: Gameplan</strong>
                (track 2)
            </td>
            <td>
                <strong>Elasticsearch Class</strong>
                (track 3)
            </td>
            <td>
                <strong>Azure</strong>
                (track 4)
            </td>
            <td>
                <strong>New Digital Product Review</strong>
                (track 5)
            </td>
        </tr>
        <tr>
            <th>1400-
                <br>1445
            </th>
            <td>
                <strong>Co-creation</strong>
                (track 5)
            </td>
        </tr>
        <tr>
            <th>1500-
                <br>1545
            </th>
            <td>
                <strong>Elasticsearch Class </strong>
                (Track 3)
            </td>
            <td></td>
            <td>
                <strong>Classic project setup to product thinking</strong>
                (track 5)
            </td>
        </tr>
        </tbody>
</table>
</div>

<!-- DIV VISIBLE ONLY ON SMALL SCREENS -->
<div id="cal-mobile">
    <div id="main">
        <div>
          <div class="track-time-mob">1300-<br>1345</div>
        </div>
        <div>
                <div class="track-mob">
                    React/Redux
                </div>
                <div class="track-mob">
                    Team tools
                </div>
                <div class="track-mob">
                    Elastic search Class
                </div>
                <div class="track-mob">
                    Azure tools
                </div>
                <div class="track-mob">
                    New Digital Products
                </div>
        </div>
    </div>

    <div id="main">
            <div>
              <div class="track-time-mob">1400-<br>1445</div>
            </div>
            <div>
                <div class="track-mob">
                    React/Redux
                </div>
            </div>
    </div>

    <div id="main">
            <div>
              <div class="track-time-mob">1500-<br>1545</div>
            </div>
            <div>
                    <div class="track-mob">
                        Elastic Search Class
                    </div>
                    <div class="track-mob">
                        Classic project setup to product thinking
                    </div>
                </div>
            </div>
</div>
