<!-- this component shows the info in the calender -->

<div class="table table-responsive">

    <table>
        <tr>

          <td class="cal">Git</td>
          <td class="cal">React</td>
          <td class="cal">Gameplan</td>
          <td class="cal">Gulp</td>
          <td class="cal">Kake bakeing</td>
        </tr>

        <tr>
          <td class="cal">Git</td>
          <td class="cal">React</td>
          <td class="cal">Gameplan</td>
          <td class="cal">konkuranse i kaffe drikking</td>
          <td class="cal">Kake bakeing</td>
        </tr>

        <tr>
          <td class="cal">Cakerating for show and do</td>
          <td class="cal">React</td>
          <td class="cal">Gameplan</td>
          <td class="cal">Gulp</td>
          <td class="cal">Kake bakeing</td>
        </tr>
    </table>
</div>
