<!-- this component shows the info in the calender with flexbox boostrap v4-alpha -->

<!--
<table class="table table-responsive">
    <!--
    <thead class="thead-default">
        <tr>
            <th>Time</th>
            <th>Track 1</th>
            <th>Track 2</th>
            <th>Track 3</th>
            <th>Track 4</th>
            <th>Track 5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1300-
                <br>1345
            </th>
            <td class="cal" rowspan="3">
                <strong>React/Redux</strong>
                (track 1)
            </td>
            <td class="cal" rowspan="3">
                <strong>Team Tools: Gameplan</strong>
                (track 2)
            </td>
            <td class="cal" rowspan="2">
                <strong>Elasticsearch Class</strong>
                (track 3)
            </td>
            <td class="cal" rowspan="2">
                <strong>Azure</strong>
                (track 4)
            </td>
            <td class="cal" rowspan="1">
                <strong>New Digital Product Review</strong>
                (track 5)
            </td>
        </tr>
        <tr>
            <th scope="row">1400-
                <br>1445
            </th>
            <td class="cal">
                <strong>Co-creation</strong>
                (track 5)
            </td>
        </tr>
        <tr>
            <th scope="row">1500-
                <br>1545
            </th>
            <td class="cal">
                <strong>Elasticsearch Class </strong>
                (Track 3)
            </td>
            <td></td>
            <td class="cal">
                <strong>Classic project setup to product thinking</strong>
                (track 5)
            </td>
        </tr>
    </tbody>
</table>
-->

<div class="container">
  <div class="row">
    <div class="col-3">
      <h3>1300-<br>1345</h3>
    </div>
    <div class="col">
      <div class="row">
            <div class="col cal-mob">
                React/Redux
            </div>
        </div>
        <div class="row">
            <div class="col cal-mob">
                Team tools
            </div>
        </div>
        <div class="row">
            <div class="col cal-mob">
                Elastic search Class
            </div>
        </div>
        <div class="row">
            <div class="col cal-mob">
                Azure tools
            </div>
        </div>
        <div class="row">
            <div class="col cal-mob">
                New Digital Products
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-3">
      <h3>1400-<br>1445</h3>
    </div>
    <div class="col">
      <div class="row">
            <div class="col cal-mob">
                React/Redux
            </div>
        </div>
</div>
</div>
</div>

<div class="container">
<div class="row">
    <div class="col-3">
      <h3>1500-<br>1545</h3>
    </div>
    <div class="col">
      <div class="row">
            <div class="col cal-mob">
                Elastic Search Class
            </div>
        </div>
        <div class="row">
            <div class="col cal-mob">
                Classic project setup to product thinking
            </div>
        </div>
    </div>
</div>
</div>
