<!-- this component shows the info in the calender -->
<div class="table">

    <table>

        <tr>
            <td id="gitCal" class="cal JStrack1"></td><!--scrollToMoreInfo()-->
            <td class="cal JStrack2"></td>
            <td class="cal JStrack4"></td>
            <td class="cal JStrack6"></td>
            <td class="cal JStrack9"></td>
        </tr>

        <tr>
            <td class="cal JStrack1"></td>
            <td class="cal JStrack2"></td>
            <td class="cal JStrack4"></td>
            <td class="cal JStrack7"></td>
            <td class="cal JStrack10"></td>
        </tr>

        <tr>
            <td class="cal JStrack1"></td>
            <td class="cal JStrack3"></td>
            <td class="cal JStrack5"></td>
            <td class="cal JStrack8"></td>
        </tr>
    </table>
</div>
