<!-- this component shows the info in the calender with flexbox boostrap v4-alpha -->


<div class="container">
  <div class="row">
    <div class="cal col">
      1 of 5
    </div>
    <div class="cal col">
      2 of 5
    </div>
    <div class="cal col">
      3 of 5
    </div>
    <div class="cal col col-lg-1">
      4 of 5
    </div>
    <div class="cal col col-lg-2">
      5 of 5
    </div>
  </div>
</div>


<!--
<div class="table table-responsive">
    <table>
        <tr>
          <td class="cal">Git<a href="#secondInfo">Click to scroll down</a></td>
          <td class="cal">React</td>
          <td class="cal">Gameplan</td>
          <td class="cal">Gulp</td>
          <td class="cal">Kake bakeing</td>
        </tr>

        <tr>
          <td class="cal">Git</td>
          <td class="cal">React</td>
          <td class="cal">Gameplan</td>
          <td class="cal">konkuranse i kaffe drikking</td>
          <td class="cal">Kake bakeing</td>
        </tr>

        <tr>
          <td class="cal">Cakerating for show and do</td>
          <td class="cal">React</td>
          <td class="cal">Gameplan</td>
          <td class="cal">Gulp</td>
          <td class="cal">Kake bakeing</td>
        </tr>
    </table>
</div>
-->
