<div class="eventDark">
    <div class="row">
        <div class="col-sm-5">
            <img src="img/event1.jpg" class="img-responsive" alt="Bilde av event">
        </div>
        <div class="col-sm-7">
            <h2>Gameplan</h2>
            <p class="lead">kl. 13 i Room OSL - 301</p>
        </div>
    </div>
</div>

<div id="#secondInfo" class="eventLight">
            <div class="row">
        <div class="col-sm-5">
            <img src="img/git.png" class="img-responsive" alt="Bilde av git-event">
        </div>
        <div class="col-sm-7">
            <h2>Git</h2>
            <p class="lead">kl. 13 i Room OSL - 301</p>
        </div>
    </div>
</div>

<div class="eventDark">
    <div class="row">
        <div class="col-sm-5">
            <img src="img/event1.jpg" class="img-responsive" alt="Bilde av event">
        </div>
        <div class="col-sm-7">
            <h2>Gameplan</h2>
            <p class="lead">kl. 13 i Room OSL - 301</p>
        </div>
    </div>
</div>
