<!-- this component is showing the info in the list -->


<section ng-controller="ShowDoController as ShowDoCtrl">
    <ul class="list-unstyled">
        <li ng-repeat="track in tracks">

            <div class="tracks">
            <div class="d-flex flex-row justify-content-between">
                <div class="p-2">
                    <h4>{{track.title}}</h4>
                </div>
                <div class="p-2"
                    ng-click="showDetails = ! showDetails">
                    <i ng-model="collapsed"
                        ng-click="collapsed=!collapsed"
                        ng-class="{'fa fa-angle-up fa-2x':collapsed,'fa fa-angle-down fa-2x':!collapsed}" class="track-arrow" aria-hidden="true"></i>
                </div>
            </div>
            <div class="track-details" ng-class="{ 'hidden': ! showDetails }">
             {{track.expect}}
            </div>
            </div>
        </li>
    </ul>
</section>


