<!-- this component fetch info to be displayed in list and calender -->

<!-- Versjon 3 bootstrap-klasser
<nav aria-label="..." role="navigation">
  <ul class="pager">
    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
      <li class="disabled"><a href="#">This week</a></li>
    <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
-->

<div id="navWeek">
  <div><a id="prevBtn" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous</a></div>
  <div><a id="thisWeekBtn" href="#">This week</a></div>
  <div><a id="nextBtn" href="#">Next  <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
</div>

<section id="infoTest"></section>
